
<div class="author">
    <div class="media">
        {% if author.avatar %}
            <div class="pull-left">
                <a href="{{ site.url }}/authors/{{ authorhandle }}">
                    <img class="avatar img-thumbnail" src="{{ author.avatar }}" width="90" height="90" alt="{{ author.name }}">
                </a>
            </div>
        {% endif %}
        <div class="media-body">
            <div class="media-heading" style="padding-top:20px;">
                <a style="font-size:22px;font-weight:bold" href="{{ site.url }}/authors/{{ authorhandle }}">{{ author.name }}</a>
                    {% if author.url %}<a aria-hidden="true" style="font-size:22px" href="{{ author.url }}" target="_blank"><i class="icon icon-globe"></i></a>{% endif %}
                    {% if author.twitter %}<a aria-hidden="true" style="font-size:22px" href="https://twitter.com/{{ author.twitter }}" target="_blank"> <i class="icon icon-twitter"></i></a>{% endif %}
                    {% if author.github %}<a aria-hidden="true" style="font-size:22px" href="{{ author.github }}" target="_blank"><i class="icon icon-github"></i></a>{% endif %}
                    {% if author.drupal %}<a aria-hidden="true" style="font-size:22px" href="{{ author.drupal }}" target="_blank"> <i class="icon icon-drupal"></i></a>{% endif %}
                    {% if author.wordpress %}<a aria-hidden="true" style="font-size:22px" href="{{ author.wordpress }}" target="_blank"> <i class="icon icon-wordpress"></i></a>{% endif %}
                    {% if author.linkedin %}<a aria-hidden="true" style="font-size:22px" href="{{ author.linkedin }}" target="_blank"> <i class="icon icon-linkedin"></i></a>{% endif %}
                    {% if author.gplus %}<a aria-hidden="true" style="font-size:22px" href="{{ author.gplus }}" target="_blank"> <i class="icon icon-gplus"></i></a>{% endif %}
            </div>
            <p>{{ author.bio }}</p>
        </div>
    </div>
</div><!--/.author-->
