
    <div class="media">
        {% if contributor.avatar %}
            <div class="pull-left">
              <div class="guest-info__img">
                <img alt="Author photo" typeof="foaf:Image" src="{{ contributor.avatar }}" width="540" height="540" alt="">
              </div>
            </div>
        {% endif %}
        <div class="media-body">
            <div class="media-heading">
                <h1>{{ contributor.name }}</h1>
                    <h2>{% if contributor.url %}<a aria-hidden="true"  href="{{ contributor.url }}" target="_blank"><i class="icon icon-globe"></i></a>{% endif %}
                    {% if contributor.twitter %}<a aria-hidden="true"  href="https://twitter.com/{{ contributor.twitter }}" target="_blank"> <i class="icon icon-twitter"></i></a>{% endif %}
                    {% if contributor.github %}<a aria-hidden="true"  href="{{ contributor.github }}" target="_blank"><i class="icon icon-github"></i></a>{% endif %}
                    {% if contributor.drupal %}<a aria-hidden="true"  href="{{ contributor.drupal }}" target="_blank"> <i class="icon icon-drupal"></i></a>{% endif %}
                    {% if contributor.wordpress %}<a aria-hidden="true"  href="{{ contributor.wordpress }}" target="_blank"> <i class="icon icon-wordpress"></i></a>{% endif %}
                    {% if contributor.linkedin %}<a aria-hidden="true"  href="{{ contributor.linkedin }}" target="_blank"> <i class="icon icon-linkedin"></i></a>{% endif %}
                    {% if contributor.gplus %}<a aria-hidden="true"  href="{{ contributor.gplus }}" target="_blank"> <i class="icon icon-gplus"></i></a>{% endif %}</h2>
            </div>
            <p>{{ contributor.bio }}</p>
            <h4>Contributions</h4>
            <ul>
            {% for doc in page.contributor_docs if doc.meta.type == "video"  %}
                <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i>  {{ doc.title }}</a><br></li>
            {% endfor %}
            {% for doc in page.contributor_docs if doc.meta.type == "guide"  %}
                <li><a href="{{ doc.url }}">{{ doc.title }}</a><br></li>
            {% endfor %}
            {% for doc in page.contributor_docs if (doc.meta.type != "video") and (doc.meta.type != "guide")  %}
                <li><a href="{{ doc.url }}">{{ doc.title }}</a><br></li>
            {% endfor %}
            </ul>
        </div>
</div><!--/.contributor-->
